/* UNIVERSAL SELECTORS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	/* Visual Aid Toggler */
	/* border: 1px red solid; */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #d87093;
	color: #000054;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
}

/* Home Page */
nav {
	width: 100vw;
	padding: 5px;
	text-align: center;
}

nav ul li{
	display: inline;
}

li:not(:first-child)::before {
	content: " | ";
}

nav a {
	text-decoration: none;
	color: #000054;
	transition: all 0.2s ease-in-out;
}

a.active {
	background-color: #000054;
	color: #d87093;
	border-radius: 3px;
	padding: 3px 5px;
	color: white;
}

li a:hover {
	font-weight: 900;
}

h1 {
	text-align: center;
	background-color: yellowgreen;
	padding: 5px;
	border-radius: 3px;
	width: 97vw;
}

h2 {
	display: inline-block;
	background-color: whitesmoke;
	color: black;
	padding: 3px;
	border-radius: 3px;
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.11);
	width: 55%;
	margin: 0 auto;
	border-radius: 3px;
}

.counter__content {
	display: flex;
	flex-direction: column;
}

.counter__content p {
	text-align: center;
}

#timer {
	margin: 0;
	text-align: center;
	font-size: 1.43rem;
	padding-bottom: 1.23rem;
}

/* CONTACT US PAGE  */
p a {
	background-color: green;
	color: white;
	text-decoration: none;
	padding: 3px;
	border-radius: 2px;
}

/* PRODUCTS PAGE */
h2 {
	box-shadow: 0 0 11px rgb(0 0 0);
}

h2:hover {
	box-shadow: 0 0 11px rgb(255 0 0);
}

h2 a {
	text-decoration: none;
	color: #000054;
}

h2 a:hover {
	color: red;
	display: block;
	text-align: center;
}

/* SINGLE + MULTIPLE PRODUCTS PAGE */
h3 {
	background-color: black;
	color: white;
	padding: 3px;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
}

h3 a {
	text-decoration: none;
	color: red;
}

h3 a:hover {
	color: white;
	text-shadow: 0 0 11px rgb(255 0 0);
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

img {
	border-radius: 7px;
	width: 30%;
}

/* ONE MORE PAGE */
.change {
	color: white;
	background-color: black;
	padding: 3px;
	font-weight: 900;
}

/* FOOTER SECTION */

footer {
	width: 100%;
	text-align: center;
	font-size: 1.43rem;
	margin: 1.11rem 0;
	background-color: orangered;
	color: white;
	font-weight: 900;
	padding: 1rem;
	position: sticky;
	bottom: 0;
}
